<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>知识库的主题</title>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <link rel="shortcut icon" href="images/favicon.png" />




    <!-- Style Sheet-->
    <link rel="stylesheet" href="style.css" />
    <link rel='stylesheet' id='bootstrap-css-css' href='css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css' href='css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css' href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css' href='css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css' href='css/custom5152.html?ver=1.0' type='text/css' media='all' />


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->


</head>

<body>

    <% include header.ejs%>

    <!-- Start of Search Wrapper -->
    <div class="search-area-wrapper">
        <div class="search-area container">
            <h3 class="search-header">有问题吗？</h3>
            <p class="search-tag-line">如果你有任何问题，你可以在下面输入您的问题</p>

            <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
                <input class="search-term required" type="text" id="s" name="s" placeholder="请输入搜索字词" title="* Please enter a search term!" />
                <input class="search-btn" type="submit" value="查询" />
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- End of Search Wrapper -->

    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">

                <!-- start of page content -->
                <div class="span8 main-listing">

                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 7, 2016</span>
                                <span class="category"><a href="#" title="View all posts in Server &amp; Database">机械 &amp; 机械</a></span>
                                <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">3 评论</a></span>
                                <span class="like-count">66</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>肯定是法规对双方的数据发布和第三名分别的说法都是辅导费脑袋上，烦恼水电费水电费.... <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/integrating-wordpress-with-your-website/">Read more</a></p>

                    </article>

                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 1, 2017</span>
                                <span class="category"><a href="#" title="View all posts in Advanced Techniques">先进的技术</a></span>
                                <span class="comments"><a href="#" title="Comment on Using Javascript">0 评论</a></span>
                                <span class="like-count">18</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>如果反复打过来开房间都感觉浪费点卡感觉浪费的感觉上当了告诉对方老公家饭店里感觉对方 . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                    </article>
                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 1, 2017</span>
                                <span class="category"><a href="#" title="View all posts in Advanced Techniques">先进的技术</a></span>
                                <span class="comments"><a href="#" title="Comment on Using Javascript">0 评论</a></span>
                                <span class="like-count">18</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>如果反复打过来开房间都感觉浪费点卡感觉浪费的感觉上当了告诉对方老公家饭店里感觉对方 . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                    </article>
                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 1, 2017</span>
                                <span class="category"><a href="#" title="View all posts in Advanced Techniques">先进的技术</a></span>
                                <span class="comments"><a href="#" title="Comment on Using Javascript">0 评论</a></span>
                                <span class="like-count">18</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>如果反复打过来开房间都感觉浪费点卡感觉浪费的感觉上当了告诉对方老公家饭店里感觉对方 . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                    </article>
                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 1, 2017</span>
                                <span class="category"><a href="#" title="View all posts in Advanced Techniques">先进的技术</a></span>
                                <span class="comments"><a href="#" title="Comment on Using Javascript">0 评论</a></span>
                                <span class="like-count">18</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>如果反复打过来开房间都感觉浪费点卡感觉浪费的感觉上当了告诉对方老公家饭店里感觉对方 . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                    </article>
                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 1, 2017</span>
                                <span class="category"><a href="#" title="View all posts in Advanced Techniques">先进的技术</a></span>
                                <span class="comments"><a href="#" title="Comment on Using Javascript">0 评论</a></span>
                                <span class="like-count">18</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>如果反复打过来开房间都感觉浪费点卡感觉浪费的感觉上当了告诉对方老公家饭店里感觉对方 . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                    </article>
                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 1, 2017</span>
                                <span class="category"><a href="#" title="View all posts in Advanced Techniques">先进的技术</a></span>
                                <span class="comments"><a href="#" title="Comment on Using Javascript">0 评论</a></span>
                                <span class="like-count">18</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>如果反复打过来开房间都感觉浪费点卡感觉浪费的感觉上当了告诉对方老公家饭店里感觉对方 . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                    </article>
                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 1, 2017</span>
                                <span class="category"><a href="#" title="View all posts in Advanced Techniques">先进的技术</a></span>
                                <span class="comments"><a href="#" title="Comment on Using Javascript">0 评论</a></span>
                                <span class="like-count">18</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>如果反复打过来开房间都感觉浪费点卡感觉浪费的感觉上当了告诉对方老公家饭店里感觉对方 . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                    </article>
                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 1, 2017</span>
                                <span class="category"><a href="#" title="View all posts in Advanced Techniques">先进的技术</a></span>
                                <span class="comments"><a href="#" title="Comment on Using Javascript">0 评论</a></span>
                                <span class="like-count">18</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>如果反复打过来开房间都感觉浪费点卡感觉浪费的感觉上当了告诉对方老公家饭店里感觉对方 . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                    </article>
                    <article class="format-standard type-post hentry clearfix">

                        <header class="clearfix">

                            <h3 class="post-title">
                                <a href="single.html">一个问题</a>
                            </h3>

                            <div class="post-meta clearfix">
                                <span class="date">25 1, 2017</span>
                                <span class="category"><a href="#" title="View all posts in Advanced Techniques">先进的技术</a></span>
                                <span class="comments"><a href="#" title="Comment on Using Javascript">0 评论</a></span>
                                <span class="like-count">18</span>
                            </div>
                            <!-- end of post meta -->

                        </header>

                        <p>如果反复打过来开房间都感觉浪费点卡感觉浪费的感觉上当了告诉对方老公家饭店里感觉对方 . . . <a class="readmore-link" href="http://knowledgebase.inspirythemes.com/using-javascript/">Read more</a></p>

                    </article>
                    <div id="pagination">
                        <a href="#" class="btn active">1</a>
                        <a href="#" class="btn">2</a>
                        <a href="#" class="btn">3</a>
                        <a href="#" class="btn">下一页 »</a>
                        <a href="#" class="btn">上一页 »</a>
                    </div>

                </div>
                <!-- end of page content -->


                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">

                    <% include hot_articles.ejs%>

                    <section class="widget">
                        <h3 class="title">类别</h3>
                        <ul>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">类别1</a> </li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">类别2</a></li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">类别3</a></li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet, ">类别4</a></li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">类别5</a></li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">类别6</a></li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet, ">类别7</a></li>
                        </ul>
                    </section>


                </aside>
                <!-- end of sidebar -->
            </div>
        </div>
    </div>
    <!-- End of Page Container -->

    <!-- Footer Bottom -->
    <div id="footer-bottom-wrapper">
        <div id="footer-bottom" class="container">
            <div class="row">
                <div class="span6">
                    <p class="copyright">
                        Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                    </p>
                </div>
                <div class="span6">
                    <!-- Social Navigation -->
                    <ul class="social-nav clearfix">
                        <li class="linkedin">
                            <a target="_blank" href="#"></a>
                        </li>
                        <li class="stumble">
                            <a target="_blank" href="#"></a>
                        </li>
                        <li class="google">
                            <a target="_blank" href="#"></a>
                        </li>
                        <li class="deviantart">
                            <a target="_blank" href="#"></a>
                        </li>
                        <li class="flickr">
                            <a target="_blank" href="#"></a>
                        </li>
                        <li class="skype">
                            <a target="_blank" href="skype:#?call"></a>
                        </li>
                        <li class="rss">
                            <a target="_blank" href="#"></a>
                        </li>
                        <li class="twitter">
                            <a target="_blank" href="#"></a>
                        </li>
                        <li class="facebook">
                            <a target="_blank" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Bottom -->

    </footer>
    <!-- End of Footer -->

    <a href="#top" id="scroll-top"></a>
</body>

</html>