<section class="widget">
    <h3 class="title">类别</h3>
    <ul>
        <li><a href="/articles?classify=0&limit=0&skip_num=0" title="Lorem ipsum dolor sit amet,">综合</a> </li>
        <li><a href="/articles?classify=1&limit=0&skip_num=0" title="Lorem ipsum dolor sit amet,">机械</a></li>
        <li><a href="/articles?classify=2&limit=0&skip_num=0" title="Lorem ipsum dolor sit amet,">制造</a></li>
        <li><a href="/articles?classify=3&limit=0&skip_num=0" title="Lorem ipsum dolor sit amet, ">自动化</a></li>
        <li><a href="/articles?classify=4&limit=0&skip_num=0" title="Lorem ipsum dolor sit amet,">其他</a></li>
    </ul>
</section>