    <!-- Start of Header -->
    <div class="header-wrapper">
        <header>
            <div class="container">


                <div class="logo-container">
                    <!-- Website Logo -->
                    <a href="/" title="Knowledge Base Theme">
                        <img src="images/logo.png" alt="Knowledge Base Theme">
                    </a>
                    <span class="tag-line">首页</span>
                </div>


                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="/">首页</a></li>
                            <li class="current-menu-item"><a href="/articles">文章列表</a></li>
                            <li><a href="/faq">常见问题解答</a></li>
                            <li><a href="/contact">发帖交流</a></li>
                            <li><a href="/register_login">登录</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->

            </div>
        </header>
    </div>
    <!-- End of Header -->