<section class="widget">
    <h3 class="title">特色论文</h3>
    <ul class="articles">
        <li class="article-entry standard">
            <h4><a href="single.html">题目题目题目</a></h4>
            <span class="article-meta">25 9, 2016  <a href="#" title="View all posts in Server &amp; Database">类别类别</a></span>
            <span class="like-count">66</span>
        </li>
        <li class="article-entry standard">
            <h4><a href="single.html">题目题目题目</a></h4>
            <span class="article-meta">25 9, 2016  <a href="#" title="View all posts in Server &amp; Database">类别类别</a></span>
            <span class="like-count">66</span>
        </li>
        <li class="article-entry standard">
            <h4><a href="single.html">题目题目题目</a></h4>
            <span class="article-meta">25 9, 2016  <a href="#" title="View all posts in Server &amp; Database">类别类别</a></span>
            <span class="like-count">66</span>
        </li>
        <li class="article-entry standard">
            <h4><a href="single.html">题目题目题目</a></h4>
            <span class="article-meta">25 9, 2016  <a href="#" title="View all posts in Server &amp; Database">类别类别</a></span>
            <span class="like-count">66</span>
        </li>
    </ul>
</section>